html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    
}

body {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    box-sizing: border-box;
}

#header{
    position: fixed;
    width: 100%;
    height: 134px;
    z-index: 1;
    background-color: #fff;
}

.top-header {
    height: 90px;
}

.slider {
    padding-top: 135px;
}

.header-dropdown-menu {
    width: 200px;
    margin: 0;
    padding: 0;
    top: 100% !important;
    border-radius: 0;
    left: -20px !important; 
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    position: relative;
}

.dropdown-item {
    font-size: 1.4rem;
    padding: 6px 10px;
}
.header-dropdown-menu li:last-child {
    padding-bottom: 5px;
}

.dropdown:hover .header-dropdown-menu {
    display: block;
}
 .hover-text:hover {
     color: #dc4e3f !important; 
 }

/* #header .dropdown::after {
    content: "";
    height: 10px;
    width: 100%;
    background-color: #000;
    position: absolute;
    
 } */
 .breadcrumb {
    background: rgba(245, 245, 245, 0); 
    border: 0px solid rgba(245, 245, 245, 1); 
    border-radius: 25px; 
  }
  .btn-see-more{
    height: 42px;
    width: 252px;
    background: black;
    margin: 20px;
    /* float: left; */
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #1c1c1c;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    box-shadow:0px 0 0 #fff  inset;
}
.btn-see-more:hover{
    -webkit-box-shadow: -252px 0 0 #fff inset;
    color: #1c1c1c;
    border:1px solid #1c1c1c;

}
.img-blog{
    height: 250px;
    width: 250px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-transition-duration: 0.3s;
    letter-spacing: 0.25px;
}
.img-blog:hover {
    transform: scale(1.1);
}
.card-body {
    margin-top: 1rem;
}
.payment-method {
    display: flex;
    justify-content: space-between;
}
.form-style {
    /* ??? */
}
.category {
    background-image:url();
}